fastapi
uvicorn[standart]
sqlalchemy[asyncio]
asyncpg
pydantic-settings
alembic
python-dotenv
langchain
langchain-core
langchain-openai
requests
pillow
pybase64
langchain-community
langchain-postgres
langchain-text-splitters
langgraph
langsmith
pydantic
sentence-transformers
psycopg[binary,pool]
dill
pandas
pymupdf
docx2txt
langfuse